.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  position: absolute;
  top: 10px;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
