.page {
  width: 100%;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif, "Noto Serif", "Times New Roman",
    serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}

.header__span {
  display: block;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  position: absolute;
  top: 10px;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  position: absolute;
  top: 183px;
  left: 80px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 378px;
  left: 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  color: #6f6f6f;
}

.header__timetable {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.header__address {
  display: flex;
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-color: #0a2750;
  color: #ffffff;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  text-align: start;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 0 0 24px;
  padding-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  max-width: 438px;
  text-align: start;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 40px;
  margin: 80px auto 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
}

.reservation__title {
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px auto 80px;
}

.reservation__form {
  margin: 0px auto 120px;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 0 32px;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  border-color: #838383;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 385px;
  margin: 0 auto 32px;
  border: 0;
  padding: 0 100px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  font-weight: 500;
  color: #fff;
}

.form__button:hover {
  opacity: 70%;
}

.form__fieldset_el_center {
  display: flex;
  justify-content: center;
}

.form__label_direction_right {
  display: inline;
  margin-left: 12px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
